.card{
  width:64px;
  height:96px;
  background:linear-gradient(180deg,#fff,#f1f1f1);
  border-radius:10px;
  padding:6px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  box-shadow:0 8px 20px rgba(0,0,0,.45);
  animation: pop .25s ease;
}

.card.red{ color:#c92a2a }
.card.black{ color:#111 }

.rank{
  font-size:16px;
  font-weight:900;
}

.rank.bottom{
  transform: rotate(180deg);
  text-align:right;
}

.suit.center{
  font-size:30px;
  text-align:center;
}

