body{
background:#080c14;
color:white;
text-align:center;
font-family:Arial;
}

.gamebox{
border:1px solid white;
margin:30px;
padding:20px;
}

button{
margin:10px;
padding:10px;
border:1px solid white;
background:#111;
color:white;
}
